body{
    background: #141E30;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}

#players{
    text-transform: uppercase;
    font-size: large;
    background-color: aqua;
}

h3:hover{
    background-color: beige;
}

